name: Build and Sync to S3
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
# Add explicit permissions
permissions:
  contents: write
  packages: write
# Allow one concurrent deployment
concurrency:
  group: "sync-to-s3-${{ github.ref }}"
  cancel-in-progress: true
env:
  S3_BUCKET_NAME: "emom-timer-us-east-2-504242000181"
  AWS_REGION: "us-east-2"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          audience: sts.amazonaws.com
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::504242000181:role/GithubDeployCI
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Cache Cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/bin
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Trunk and Wasm
        run: |
          rustup component add rustfmt clippy
          rustup target add wasm32-unknown-unknown
          cargo install trunk
      - name: Rust Build and Check
        run: |
          cargo fmt --check
          cargo clippy --all-features --no-deps
          cargo test
      - name: Build Artifact
        run: |
          trunk build --release --public-url http://${{ env.S3_BUCKET_NAME }}.s3-website.${{ env.AWS_REGION }}.amazonaws.com
      - name: Sync S3 Bucket
        run: |
          aws s3 sync ./dist s3://${S3_BUCKET_NAME} --delete --region ${{ env.AWS_REGION }}
      - name: GitHub Release
        uses: actions/create-release@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          prerelease: false
          tag_name: ${{ github.ref_name }}
          release_name: v${{ github.ref_name }}
          body_path: CHANGELOG.md
